/****** General ***********/
*
{
    font-family: "Raleway", sans-serif;
}

:root
{
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
    --filter-gris-color: #d2d2d2;
}

.fa-solid
{
    color: var(--main-color);
}

body
{
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container
{
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}


a
{
    color: inherit;
    text-decoration: none;
}

.section-title
{
    margin: 0;
    font-size: 22px;
}

.card
{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img
{
    object-fit: cover;
}

.card-title
{
    font-size: 16px;
}

.euro
{
    font-weight: 700;
}

.neutral-star
{
    color: var(--main-bg-color);
}

/****** header ***********/
.header
{
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;
}

.header .logo
{
    margin-top: 30px;
}

.header .logo img
{
    height: 19px;
}

.header .menu
{
    padding: 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.header a
{
    padding: 10px 0;
    margin: 0 19px;
    position: relative;
    font-size: 16px;
}

.header a:hover
{
    color: var(--main-color);
}

.header a:hover::before
{
    content: "";
    position: absolute;
    top: 0;
    border-top: solid 2px var(--main-color);
    width: 100%;
}

/****** Infos-Group ***********/
.infos-group
{
    display: flex;
    flex-direction: column;
}

/****** Headline ***********/
.infos-group .headline
{
    width: 100%;
}
.infos-group .headline h1
{
    margin-bottom: 8px;
}

/****** Search-Bar ***********/
.infos-group .search-bar
{
    margin-top: 30px;
    display: flex;
    align-items: center;
    height: 49px;
}

.infos-group .search-bar i
{
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
}

.infos-group .search-bar .search-input::placeholder {
    color: black;
}

.infos-group .search-bar .search-input {
    
    display: flex;
    justify-content: center;
    width: 195px;
    padding: 10px;
    border: none; 
    font-size: 16px; 
    font-weight: bold;
}
.infos-group .search-bar .search-input:focus {
    outline: none;
}

.infos-group .search-bar .search-action
{
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    border-radius: 0 15px 15px 0;
    width: 132px;
    height: 100%;
}

.infos-group .search-bar .search-action i
{
    background-color: var(--main-color);
    height: 100%;
    width: 0%;
    color: white;
    visibility: hidden;
}

.infos-group .search-bar h2
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/****** Filter-Bar ***********/
.infos-group .filter-bar
{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.infos-group .filter-bar button
{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    background-color: white;
    border: 2px solid var(--filter-gris-color);
    height: 50px;
    padding: 4px 19px;
}

.infos-group .filter-bar i
{
    color: var(--main-color);
    font-size: 22px;
}

.infos-group .filter-bar button:hover
{
    background-color: var(--filter-bg-color);
}

.infos-group .filter-bar button span
{
    font-weight: bold;
    font-size: 17px;
}

/****** Infos-Bar ***********/
.infos-group .infos-bar
{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.infos-group .infos-bar .fa-stack
{
    display: inline-flex;
    align-items: center;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.infos-group .fa-circle
{
    font-size: 24px;
    color: var(--filter-gris-color);
}

.infos-group .fa-info
{
    font-size: 10px;
    color: var(--main-color);
}

.infos-group h2
{
    font-size: 17px;
}

.infos-group .filter-titre h2
{
    font-size: 18px;
}

.infos-group h4
{
    font-size: 18px;
}

.infos-group h5
{
    font-size: 22px;
    margin: 0px 0px;
    margin-bottom: 8px;
    padding: 0;
}

.infos-group p
{
    font-size: 16px;
    margin: 0px 0px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires
{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section
{
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements
{
    width: 65%;
    display: flex;
    flex-direction: column;
}

.hebergements .fiche
{
    display: flex;
    justify-content: space-between;
}

.hebergements .fiche a
{
    width: 30%;
}

.hebergements .fiche .card-hebergement
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-bottom: 30px;
    height: 85%;
    justify-content: space-between;
}

.hebergements .fiche .card-hebergement img
{
    height: 124px;
    width: auto;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.hebergements .fiche .card-hebergement .card-rating
{
    margin : 0px 0px 5px 8px;

}

.hebergements h2
{
    margin: 0;
    margin-bottom: 30px;
    font-size: 22px;
    padding: 0;
}

.hebergements h3
{
    font-size: 16px;
}


.hebergements p
{
    font-size: 14px;
}

.hebergements h3,p,h4
{
    margin: 5px 8px;
    padding: 0;
}

/****** Populaires ***********/
.populaires
{
    width: 32%;
}

.populaires-title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card
{
    display: flex;
    margin-top: 33px;
}

.populaires-cards img
{
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content
{
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title
{
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle
{
    margin: 0;
}

.populaires-cards .card-rating
{
    margin-bottom: 5px;
}

/****** Activites ***********/
.activites
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.activites h2
{
    font-size: 22px;
    margin: 0 0 30px 0;
}

.activites a
{
    width: 24%;
}

.activites .activites-data
{
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
}

.activites .fiche-activites
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: 100%;
}

.activites .fiche-activites img
{
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activites .fiche-activites h3
{
    padding-left: 15px;
    font-size: 16px;
}

/****** footer-content ***********/
.footer-content
{
    margin-top: 30px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;

}

.footer-content h2
{
    font-size: 18px;
    margin: 0;
}

.footer-content a
{
    font-size: 16px;
}

.footer-content .footer-column
{
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 20px;
    gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px)
{
    .hebergements-and-populaires
    {
        flex-direction: column;
    }

    .hebergements
    {
        width: 100%;
    }

    .populaires
    {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a
    {
        width: 30%;
    }

    .populaires-cards .card-title
    {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle
    {
        font-size: 13px;
    }

    .activites .fiche-activites
    {
        height: 100%;
        margin-bottom: 0%;
    }

    .activites .fiche-activites img
    {
        height: 200px;
    }

    .filter-bar
    {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .infos-group .filter-bar .filter-titre
    {
        width: 100%; 
    }
    
    .infos-group .filter-bar
    {
        gap: 5px;
    }

    .filter-bar .filtre-option
    {
        width: 24%;
    }

    .infos-group .filter-bar button span
    {
        font-size: 16px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px)
{

    /* ... */

    .menu
    {
        width: 100%;
    }

    h1 
    {
        margin-top: 0px;
        margin-bottom: 8px;
    }

    .main-container
    {
       padding: 0 0; 

    }

    .header
    {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
        align-items: center;
    }

    .header img
    {
        justify-content: center;
        text-align: center;
    }
    .header a
    {
        width: 100%;
        text-align: center;
        margin: 0 0;
    }

    .header .menu a:hover::before
    {
        text-align: center;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        border-top: solid 0px;
        bottom: 0;
        border-bottom: solid 2px var(--main-color);
        width: 100%;
    }

    .infos-group .filter-titre h2
    {
        margin-bottom: 0;
    }

    .infos-group .filter-bar
    {
        gap: 20px;
 
    }

    .infos-group .search-bar .search-action
    {
        border-radius: 15px;
        height: 49px;
        width: 49px;
    }

    .infos-group .search-bar h2
    {
        display: none;
    }

    .infos-group .search-bar .search-action i
    {
        visibility: visible;
    }


    .infos-group .search-bar .search-input
    {
        width: calc(100% - 135px);
    }

    .filter-bar
    {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .filter-bar .filter-titre
    {
        width: 100%
    }

    .infos-group
    {
        padding-left: 15px;
    }

    .infos-group .filter-Bar
    {
        justify-content: center;
    }

    .infos-group .filter-bar button span
    {
       font-size: 14px;
    }

    .filter-bar .filtre-option
    {
        width: 46%;
    
    }
    .hebergements-and-populaires
    {
        margin-top: 0;
    }

    .hebergements-and-populaires section
    {
        padding: 15px;

    }
    .hebergements-and-populaires .populaires
    {
        order: 1;
        border-radius: 0;
    }

    .populaires
    {
        width: 100%;
        margin-top: 50px;
    }

    .populaires .populaires-cards
    {
        display: flex;
        flex-direction: column;
    }

    .populaires .populaires-cards .card
    {
        width: 100%;
    }

    .populaires .populaires-cards a
    {
        width: auto;
    }

    .populaires-cards .card-title
    {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle
    {
        font-size: 13px;
    }

    .hebergements-and-populaires .hebergements h2,
    .hebergements-and-populaires .hebergements a.h4
    {
        align-self: flex-start;
    }

    .hebergements-and-populaires .hebergements
    {
        order: 2;
        background-color: white;
    }

    .hebergements .fiche
    {
        display: block;
        width: 100%;
    }

    .hebergements .fiche.card-hebergement
    {
        width: 100%;
    }

    .activites
    {
        margin-top: 0px;

    }
    .activites .activites-data
    {
        display: block;

        width: 100%;
    }

    .activites .fiche-activites
    {
        margin-bottom: 30px;
    }

    .footer-content
    {
        flex-direction: column;
        width: 100%;
        padding: 30px 15px;
    }

    .footer-content .footer-column
    {
        padding: 40 15px;
       
    }
}

/* Small devices (phones, less than 350px) */
@media (max-width: 349px)
{
    .infos-group .filter-bar button span
    {
        display: none;
    }
    .infos-group .filter-bar button
    {
        justify-content: center;

    }
}