/****** General ***********/
*
{
    font-family: "Raleway", sans-serif;
}

:root
{
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
    --filter-gris-color: #d2d2d2;
}

.fa-solid
{
    color: var(--main-color);
}

body
{
    display: flex;
    justify-content: center;
}

.main-container
{
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.Visible_False
{
  /*  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;*/
    display: none;
}

a
{
    color: inherit;
    text-decoration: none;
}

.section-title
{
    margin: 0;
    font-size: 22px;
}

.card
{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img
{
    object-fit: cover;
}

.card-title
{
    font-size: 16px;
}

.euro
{
    font-weight: 700;
}

.neutral-star
{
    color: var(--main-bg-color);
}

/****** header ***********/
.header
{
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;
}

.header .logo
{
    margin-top: 30px;
}

.header .logo img
{
    height: 19px;
}

.header .Menu
{
    padding: 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.header a
{
    padding: 10px 0;
    margin: 0 19px;
    position: relative;
    font-size: 16px;
}

.header a:hover
{
    color: var(--main-color);
}

.header a:hover::before
{
    content: "";
    position: absolute;
    top: 0;
    border-top: solid 2px var(--main-color);
    width: 100%;
}

/****** Infos_Group ***********/
.Infos_Group
{
    display: flex;
    flex-direction: column;
}

/****** Headline ***********/
.Infos_Group .Headline
{
    width: 100%;
}

/****** Search_Bar ***********/
.Infos_Group .Search_Bar
{
    margin-top: 30px;
    display: flex;
    align-items: center;
    height: 49px;
}

.Infos_Group .Search_Bar i
{
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
}

.Infos_Group .Search_Bar .search_input::placeholder {
    color: black;
}

.Infos_Group .Search_Bar .search_input {
    
    display: flex;
    justify-content: center;
    width: 195px;
    padding: 10px;
    border: none; 
    font-size: 16px; 
    font-weight: bold;
}
.Infos_Group .Search_Bar .search_input:focus {
    outline: none;
}

.Infos_Group .Search_Bar .Search_action
{
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    border-radius: 0 15px 15px 0;
    width: 132px;
    height: 100%;
}

.Infos_Group .Search_Bar .Search_action i
{
    background-color: var(--main-color);
    height: 100%;
    width: 0%;
    color: white;
    visibility: hidden;
}

.Infos_Group .Search_Bar h4
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/****** Filter_Bar ***********/
.Infos_Group .Filter_Bar
{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.Infos_Group .Filter_Bar button
{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    background-color: white;
    border: 2px solid var(--filter-gris-color);
    height: 50px;
    padding: 4px 19px;
}

.Infos_Group .Filter_Bar i
{
    color: var(--main-color);
    font-size: 22px;
}

.Infos_Group .Filter_Bar button:hover
{
    background-color: var(--filter-bg-color);
}

.Infos_Group .Filter_Bar button span
{
    font-weight: bold;
    font-size: 17px;
}

/****** Infos_Bar ***********/
.Infos_Group .Infos_Bar
{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.Infos_Group .Infos_Bar .fa-stack
{
    display: inline-flex;
    align-items: center;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.Infos_Group .fa-circle
{
    font-size: 24px;
    color: var(--filter-gris-color);
}

.Infos_Group .fa-info
{
    font-size: 10px;
    color: var(--main-color);
}

.Infos_Group h2
{
    font-size: 17px;
}

.Infos_Group h3
{
    font-size: 18px;
}

.Infos_Group h4
{
    font-size: 18px;
}

.Infos_Group h5
{
    font-size: 22px;
    margin: 0px 0px;
    margin-bottom: 8px;
    padding: 0;
}

.Infos_Group p
{
    font-size: 16px;
    margin: 0px 0px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires
{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section
{
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements
{
    width: 65%;
    display: flex;
    flex-direction: column;
}

.hebergements .fiche
{
    display: flex;
    justify-content: space-between;
}

.hebergements .fiche a
{
    width: 30%;
}

.hebergements .fiche .Card_Hebergement
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-bottom: 30px;
    height: 85%;
    justify-content: space-between;
}

.hebergements .fiche .Card_Hebergement img
{
    height: 124px;
    width: auto;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.hebergements h2
{
    margin: 0;
    margin-bottom: 30px;
    font-size: 22px;
    padding: 0;
}

.hebergements h3
{
    font-size: 16px;
}

.hebergements h3
{
    font-size: 18px;
}

.hebergements p
{
    font-size: 14px;
}

.hebergements h3,p,h4
{
    margin: 5px 0px;
    padding: 0;
}

/****** Populaires ***********/
.populaires
{
    width: 32%;
}

.populaires-title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card
{
    display: flex;
    margin-top: 33px;
}

.populaires-cards img
{
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content
{
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title
{
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle
{
    margin: 0;
}

.populaires-cards .card-rating
{
    margin-bottom: 5px;
}

/****** Activites ***********/
.Activites
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.Activites h2
{
    font-size: 22px;
}

.Activites a
{
    width: 24%;
}

.Activites .Activites_data
{
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
}

.Activites .fiche_Activites
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: 100%;
}

.Activites .fiche_Activites img
{
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.Activites .fiche_Activites h3
{
    padding-left: 15px;
    font-size: 16px;
}

/****** footer_content ***********/
.footer_content
{
    margin-top: 30px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.footer_content h2
{
    font-size: 18px;
}

.footer_content a
{
    font-size: 16px;
    margin-bottom: 10px;
}

.footer_content .footer_column
{
    display: flex;
    flex-direction: column;
    width: 33%;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px)
{
    .hebergements-and-populaires
    {
        flex-direction: column;
    }

    .hebergements
    {
        width: 100%;
    }

    .populaires
    {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a
    {
        width: 30%;
    }

    .populaires-cards .card-title
    {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle
    {
        font-size: 13px;
    }

    .Activites .fiche_Activites
    {
        height: 100%;
        margin-bottom: 0%;
    }

    .Activites .fiche_Activites img
    {
        height: 200px;
    }

    .Filter_Bar
    {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
  .Infos_Group .Search_Bar .search_input
    {
        width: 100%; 
    }

    .Infos_Group .Filter_Bar .Filter_Titre
    {
        width: 100%; 
    }
    
    .Infos_Group .Filter_Bar
    {
        gap: 5px;
    }

    .Filter_Bar .filtre-option
    {
        width: 24%;
    }

    .Infos_Group .Filter_Bar button span
    {
        font-size: 16px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px)
{

    /* ... */
    .header
    {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
        align-items: center;
    }

    .header img
    {
        justify-content: center;
        text-align: center;
    }

    .header .Menu a:hover::before
    {
        content: "";
        position: absolute;
        top: 0;
        border-top: solid 2px var(--filter_bg_base_color);
        bottom: 0;
        border-bottom: solid 2px var(--main-color);
        width: 100%;
    }

    .Infos_Group .Search_Bar .Search_action
    {
        border-radius: 15px;
        height: 49px;
        width: 49px;
    }

    .Infos_Group .Search_Bar h4
    {
        display: none;
    }

    .Infos_Group .Search_Bar .Search_action i
    {
        visibility: visible;
    }


    .Infos_Group .Search_Bar .search_input
    {
        width: 100%; 
    }

    .Filter_Bar
    {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .Filter_Bar .Filter_Titre
    {
        width: 100%;
    }

    .Infos_Group .Filter_Bar
    {
        /*gap: 10px;*/
        justify-content: center;
    }

    .Infos_Group .Filter_Bar button span
    {
       font-size: 14px;
    }

    .Filter_Bar .filtre-option
    {
        width: 45%;
    }

    .hebergements-and-populaires .populaires
    {
        order: 1;
        border-radius: 0;
    }

    .populaires
    {
        width: 100%;
        margin-top: 50px;
    }

    .populaires .populaires-cards
    {
        display: flex;
        flex-direction: column;
    }

    .populaires .populaires-cards .card
    {
        width: 100%;
    }

    .populaires .populaires-cards a
    {
        width: auto;
    }

    .populaires-cards .card-title
    {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle
    {
        font-size: 13px;
    }

    .hebergements-and-populaires .hebergements h2,
    .hebergements-and-populaires .hebergements a.h4
    {
        align-self: flex-start;
    }

    .hebergements-and-populaires .hebergements
    {
        order: 2;
        background-color: white;
    }

    .hebergements .fiche
    {
        display: block;
        width: 100%;
    }

    .hebergements .fiche.Card_Hebergement
    {
        width: 100%;
    }

    .Activites .Activites_data
    {
        display: block;

        width: 100%;
    }

    .Activites .fiche_Activites
    {
        margin-bottom: 30px;
    }

    .footer_content
    {
        flex-direction: column;
        width: 100%;
        padding: 0 0;
    }

    .footer_content .footer_column
    {
        padding: 0 15px;
    }
}